
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#root {
    position: absolute;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.App {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


@import './components/TopMenu.scss';
@import './components/Footer.scss';
@import './components/PleaseWait.scss';

@import './perspectives/assessment/Examinfo.scss';
@import './perspectives/assessment/Taskinfo.scss';

@import './perspectives/assessment/exam/Exam.scss';
@import './perspectives/assessment/exam/Question.scss';
@import './perspectives/assessment/exam/Scoringbutton.scss';
