.PleaseWait {

    display: inline-block;

    .layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .prefix, .suffix {
            color: #BCBDBE;
            font-size: 1em;
        }
        .prefix {
            margin-right: 0.5em;
            text-align: right;
        }
        .suffix {
            margin-left: 0.5em;
            text-align: left;
        }
        .rotator {
            display: block;
            height: 2em;
            width: 2em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation-name: spinRotator;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

    }


}

@keyframes spinRotator {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
