.CompetenceCardTask {

    .custom-checkbox-use-task {
        display: inline-block;
        height: 2em;
        width: 2em;
        border: 1px solid $dark;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

    }

    .lineheight11 {
        font-size: 0.9em;
        line-height: 1.2em;
    }
}
